.author__avatar {
    border-radius: 0 !important; /* makes it square */
    width: 180px !important;     /* increase width */
    height: 180px !important;    /* increase height */
    object-fit: cover !important;
  }
  